@using proj_tt.Web.Models.Products
@model IndexViewModel



@section scripts
{
    <environment names="Development">
        <script src="~/js/views/products/create.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/products/create.min.js"></script>
    </environment>
}


<h2>
    @("New Product")
</h2>
<form id="ProductCreationForm" style="padding: 0 20px;" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="Name">@("Name")</label>
        <input type="text" name="Name" class="form-control" placeholder="@("Name")" required maxlength="@proj_tt.Products.Product.MaxNameLength"></input>
    </div>

    <div class="form-group">
        <label for="Price">@("Price")</label>
        <input type="number" name="Price" class="form-control" placeholder="@("Price")" required></input>
    </div>
    <div class="form-group">
        <label for="Discount">@("Discount")</label>
        <input type="number" name="Discount" class="form-control" placeholder="@("Discount")" required></input>
    </div>
    <div class="form-group">
        <label for="ImageUrl">@("Image")</label>
        <input type="file" name="ImageUrl" accept="image/*"  class="form-control" placeholder="@("Image")"></input>
    </div>
    
   

    <button type="submit" class="btn btn-default">@("Save")</button>
</form>